
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-black: #1c1c1c;
    --clr-white: #ec0f0f;
    --clr-accent: #9e11c9;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
}

.header h1 {
    text-align: center;
}
.header {
    background-color: white;
    color: var(--clr-black);
    padding-block: 1rem;
}

.main {
    padding-block: 2rem;
}

.titulo {
    margin-bottom: 1rem;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
}

.producto {
    background-color: aquamarine;
    padding: .5rem;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


.producto-btn {
    background-color: var(--clr-accent);
    color: var(--clr-white);
    padding: .5rem;
    margin-top: .5rem;
    cursor: pointer;
    transition: .2s;
}


.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.carrito-producto {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-black);
    padding: .5rem 1rem;
    color: var(--clr-white);
}



.d-none {
    display: none;
}

.footer {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding-block: 2rem;
}


.finalizar {
    margin-top: 5px;
}